// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chef_info{
  margin-top: 10px;
  
}
.gravatar {
  border-radius: 10px;
  
}
.well {
  background-color:#ededed;
  
}
input,textarea,select,.uneditable-input {
  border:1px solid #e2e2e2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  
}
input{
  height: auto !important;
}